body {
	font-size: 10px;
	font-family: 'Gudea', sans-serif;
}

#gradient {
	background-image: url('images/background_gradient-popularity_video.jpg');
	width: 599px;
	height: 654px;

	z-index: -25;

}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.dot {
	stroke: #000;
	fill:	#9BA3B1;
}
		
.grid, .tick {
   	stroke: lightgrey;
   	opacity: 0.7;
}
	
.grid path {
    stroke-width:0;	 
}

